.nav {
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    z-index: 3;
}

.nav_theme_dark {
    color: black;
}

.nav__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav__item {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding: auto 0;
    list-style: none;
    margin: 0 64px 0 12px ;
    height: 100%;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: transform .1s;
}

.nav__item:hover {
    transform: scale(1.04);
}

.nav__item_with_mark {
    border-bottom: 3px solid;
}

.nav__item_theme_dark {
    color: black;
    border-color: black;
}

.nav__auth-button {
    margin: 0;
    padding: 0;
    color: white;
    background-color: transparent;
    height: 48px;
    width: 176px;
    align-self: center;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 100px;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    transition: transform .1s;
}

.nav__auth-button:hover {
    transform: scale(1.04);
}

.nav__auth-button_logged-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: fit-content;
}

.nav__logout-icon {
    margin: 0;
    padding: 0;
    background: transparent;
    background-image: url(../../images/logout-icon-white.svg);
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.nav__logout-icon_dark {
    background-image: url(../../images/logout-icon-black.svg);
}

.nav__auth-button_theme_dark {
    color: black;
    border: 1px solid black;
}

@media screen and (max-width: 900px) {
    .nav__item {
        font-size: 16px;
        margin: 0 10px 0 10px;
    }    
   
    .nav__auth-button {
        margin-left: 20px;
        height: 40px;
        width: 152px;
        font-size: 16px;
    }

    .nav__auth-button_logged-in {
        width: fit-content;
    }
}

@media screen and (max-width: 550px) {
    .nav {
        z-index: 3;
        position: absolute;
        top: 56px;
        flex-direction: column;
        width: 100vw;
        background: #1A1B22;
        display: none;
        border-radius: 0 0 16px 16px;
        width: 100%;
    }

    .nav__list {
        flex-direction: column;
        padding: 16px 16px 0;
    }

    .nav__item {
        font-size: 18px;
        line-height: 56px;
        align-self: flex-start;
        margin: 0;
    }

    .nav__item_with_mark {
        border: none;
    }

    .nav__auth-button {
        align-self: center;
        width: calc(100% - 32px);
        margin: 22px 0 24px;
        height: 56px;
    }

    .nav__auth-button_logged-in {
        align-self: flex-start;
        width: auto;
        justify-content: flex-start;
        margin-left: 16px;
    }

    .nav_enable {
        display: flex;
    }

    .nav_theme_dark {
        color: white;
    }

    .nav__item_theme_dark {
        color: white;
        border-color: white;
    }

    .nav__logout-icon_dark {
        background-image: url(../../images/logout-icon-white.svg);
    }
    
    .nav__auth-button_theme_dark {
        color: white;
        border: 1px solid white;
    }    
}