.news-card {
    display: block;
    max-width: 400px;
    max-height: 576px;
    background: white;
    border-radius: 10px;
    text-decoration: none;
}

.news-card__image-container {
    position: relative;
    padding: 24px 24px 52%;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png);
    background-size: cover;
}

.news-card__item {
    box-sizing: border-box;
    margin: 0;
    height: 40px;
    border-radius: 10px;
    background: white;
    padding: 8px 22px;
    line-height: 24px;
    text-align: center;
    border: none;
}

.news-card__topic {
    font-size: 14px;
    color: black;
}

.news-card__item_hidden {
    visibility: hidden;
}

.news-card__button-container {
    display: flex;
    justify-content: space-between;
}

.news-card__button-description {
    font-size: 12px;
    margin-right: 5px;
    visibility: hidden;
    align-self: flex-start;
    color: black;
}

.news-card__button {
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    align-self: flex-end;
}

.news-card__button_delete {
    background-image: url(../../images/trash.svg);
}

.news-card__button_delete:hover {
    background-image: url(../../images/trash-hover.svg);
}

.news-card__button-container:hover .news-card__button-description {
    visibility: visible;
}

.news-card__button-description:hover {
    visibility: hidden; 
}

.news-card__button_save {
    background-image: url(../../images/bookmark.svg);
}

.news-card__button_save:hover {
    background-image: url(../../images/bookmark-hover.svg);
}

.news-card__button_save_is-saved {
    background-image: url(../../images/bookmark-marked.png);
}

.news-card__button_save_is-saved:hover {
    background-image: url(../../images/bookmark-marked.png);
}

.news-card__content-container {
    padding: 8px 24px 24px; 
    font-family: Roboto Slab;
    background: white;
    border-radius: 0 0 10px 10px;
}

.news-card__date {
    margin: 12px 0;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
}

.news-card__title {
    font-family: Roboto Slab;
    margin: 0;
    color: #1A1B22;
    font-size: 26px;
    line-height: 30px;
    height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-card__text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    height: 88px;
    margin: 16px 0 40px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-card__author {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    
    .news-card__image-container {
        padding: 8px 8px 52%;
    }
    
    .news-card__button-description {
        display: none;
    }
    
    .news-card__content-container {
        padding: 12px 16px 24px;
    }
    
    .news-card__date {
        margin: 8px 0;
    }
    
    .news-card__title {
        font-size: 22px;
        line-height: 24px;
        height: 72px;
        -webkit-line-clamp: 3;

    }
}